absl-py==2.1.0
aext-assistant @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5eaau4zbw7/croot/aext-assistant_1734643296991/work
aext-assistant-server @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_163phnmju4/croot/aext-assistant-server_1734640071251/work
aext-core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_aabfvxuq33/croot/aext-core_1734637785459/work
aext-core-server @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c317foj9pq/croot/aext-core-server_1734635080634/work
aext-panels @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_59_qqis9gs/croot/aext-panels_1734643297892/work
aext-panels-server @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_9ed525khtx/croot/aext-panels-server_1734639709772/work
aext-project-filebrowser-server @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_85xwwcawjg/croot/aext-project-filebrowser-server_1734687626319/work/backend_lib/project_filebrowser
aext-share-notebook @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4b7k7zizjg/croot/aext-share-notebook_1734642867166/work
aext-share-notebook-server @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cegse2p2g2/croot/aext-share-notebook-server_1734639665837/work
aext-shared @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8azeq5ce0i/croot/aext-shared_1734622531164/work
aext-toolbox @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_9cta96lq0z/croot/anaconda-toolbox_1734694563462/work
aif360==0.6.1
aiobotocore==2.21.1
aiofiles==24.1.0
aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aiohttp-retry==2.9.1
aioitertools==0.12.0
aiosignal==1.3.2
aiosqlite==0.21.0
alabaster==1.0.0
alembic==1.15.1
altair==5.5.0
amqp==5.3.1
anaconda-anon-usage @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_6dviz_3v0e/croot/anaconda-anon-usage_1695305101164/work
anaconda-catalogs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e8tmw882qa/croot/anaconda-catalogs_1685727305051/work
anaconda-cli-base==0.5.2
anaconda-client @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_82twczutem/croot/anaconda-client_1731432687858/work
anaconda-cloud-auth @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_66qofffz18/croot/anaconda-cloud-auth_1731432562188/work
anaconda-navigator @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_cac7cu5xww/croot/anaconda-navigator_1733149480396/work
anaconda-project @ file:///Users/cbousseau/work/recipes/ci_py311/anaconda-project_1677964558977/work
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
appdirs==1.4.4
applaunchservices @ file:///Users/cbousseau/work/recipes/ci_py311/applaunchservices_1677955996025/work
appnope==0.1.4
appscript==1.3.0
archspec==0.2.5
argon2-cffi==23.1.0
argon2-cffi-bindings @ file:///Users/cbousseau/work/recipes/ci_py311/argon2-cffi-bindings_1677915727169/work
arrow==1.3.0
astroid==3.3.8
astropy==7.0.1
astropy-iers-data==0.2025.3.3.0.34.45
asttokens==3.0.0
astunparse==1.6.3
async-lru @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_02efro5ps8/croot/async-lru_1699554529181/work
async-timeout==5.0.1
asyncssh==2.20.0
atomicwrites==1.4.1
atpublic==5.1
attrs==25.1.0
Automat==24.8.1
autopep8==2.0.4
babel==2.17.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backoff==2.2.1
backports.functools-lru-cache==2.0.0
backports.tarfile==1.2.0
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt==4.3.0
beautifulsoup4==4.13.3
billiard==4.2.1
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black==25.1.0
bleach==6.2.0
blinker==1.9.0
blis==1.2.0
blosc2==3.2.0
bokeh==3.6.3
boltons==25.0.0
boto3==1.37.9
botocore==1.37.9
Bottleneck==1.4.2
brotlipy==0.7.0
cachetools==5.5.2
catalogue==2.0.10
celery==5.4.0
certifi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_53iribkvo4/croot/certifi_1738623743875/work/certifi
cffi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e4xd9yd9i2/croot/cffi_1736182819442/work
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.21.0
cloudpickle==3.1.1
clyent==1.2.2
colorama @ file:///Users/cbousseau/work/recipes/ci_py311/colorama_1677925183444/work
colorcet==3.1.0
colorlog==6.9.0
comm==0.2.2
conda @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_104cbbdti1/croot/conda_1708369123783/work
conda-build @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ac06cux9tm/croot/conda-build_1696257496773/work
conda-content-trust @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_5324skqvu9/croot/conda-content-trust_1693490622873/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1737733694612/work/src
conda-pack==0.8.1
conda-package-handling==2.4.0
conda-repo-cli==1.0.75
conda-token @ file:///croot/conda-token_1718995751285/work
conda-verify==3.4.2
conda_index @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_54ezj_yn7f/croot/conda-index_1695310383527/work
conda_package_streaming==0.11.0
confection==0.1.5
configobj==5.0.9
ConfigSpace==1.2.1
constantly==23.10.4
contourpy==1.3.1
cookiecutter==2.6.0
cramjam==2.9.1
cryptography==44.0.2
cssselect @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_47oh46v5h0/croot/cssselect_1707339886455/work
cycler==0.12.1
cymem==2.0.11
Cython==3.0.12
cytoolz==1.0.1
dacite==1.9.2
dask==2025.2.0
dask-expr==2.0.0
dask-jobqueue==0.9.0
databricks-sdk==0.44.1
dataclasses-json==0.6.7
datasets==3.3.2
datashader==0.17.0
datashape==0.5.4
dateparser==1.2.1
debugpy==1.8.13
decorator==5.2.1
deepsort==0.0.5
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.18
deprecation==2.1.0
dictdiffer==0.9.0
diff-match-patch==20241021
dill==0.3.9
diskcache==5.6.3
distlib==0.3.9
distributed==2025.2.0
distro @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ddkyz0575y/croot/distro_1714488254309/work
dmglib==0.9.6
docker==7.1.0
docstring-to-markdown==0.15
docutils==0.21.2
dpath==2.2.0
dulwich==0.22.8
dvc==3.59.1
dvc-data==3.16.9
dvc-http==2.32.0
dvc-objects==5.1.0
dvc-render==1.0.2
dvc-studio-client==0.21.0
dvc-task==0.40.2
dynaconf==3.2.10
emoji==2.14.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
entrypoints @ file:///Users/cbousseau/work/recipes/ci_py311/entrypoints_1677911798787/work
et_xmlfile==2.0.0
evidently==0.6.6
executing==2.2.0
Faker==37.0.0
fastapi==0.115.12
fastjsonschema==2.21.1
filelock==3.17.0
filetype==1.2.0
filterpy==1.4.5
fire==0.7.0
flake8==7.1.2
Flask==3.1.0
flatbuffers==25.2.10
flatten-dict==0.4.2
flufl.lock==8.1.0
fonttools==4.56.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2197in1_5l/croot/fsspec_1736274678041/work
func_timeout==4.3.5
funcy==2.0
future==1.0.0
gast==0.6.0
gdown==5.2.0
gensim==4.3.3
gitdb==4.0.12
GitPython==3.1.44
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gmpy2==2.2.1
google-auth==2.38.0
google-pasta==0.2.0
grandalf==0.8
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.1.1
grpcio==1.70.0
gto==1.7.2
gunicorn==23.0.0
h11 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_110bmw2coo/croot/h11_1706652289620/work
h5py @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4781ssk3su/croot/h5py_1730215947003/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews==1.20.1
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.29.2
hvplot==0.11.2
hydra-core==1.3.2
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna==3.7
imagecodecs==2024.12.30
ImageHash==4.3.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize @ file:///Users/cbousseau/work/recipes/ci_py311/imagesize_1677932611633/work
imbalanced-learn==0.13.0
importlib_metadata==8.5.0
incremental==24.7.2
inflection==0.5.1
iniconfig==2.0.0
intake==2.0.8
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel==6.29.5
ipython==8.33.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==8.1.5
isoduration==20.11.0
isort==4.3.21
itemadapter==0.11.0
itemloaders==1.3.2
iterative-telemetry==0.0.10
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jax==0.5.2
jaxlib==0.5.1
jedi==0.19.2
jellyfish==1.1.3
Jinja2==3.1.6
jinja2-time @ file:///opt/conda/conda-bld/jinja2-time_1649251842261/work
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_7boelfqucq/croot/jsonschema_1728486715888/work
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_62liw5pns2/croot/jupyter_console_1679999641189/work
jupyter-events @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_93fqb7dsil/croot/jupyter_events_1741184594429/work
jupyter-lsp==2.2.5
jupyter-server-ydoc==1.1.0
jupyter-ydoc==3.0.3
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_c8ru9k_qi5/croot/jupyter_server_1741200908266/work
jupyter_server_fileid==0.9.3
jupyter_server_terminals==0.5.3
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_f64fg3hglz/croot/jupyterlab_server_1725865356410/work
jupyterlab_widgets @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_85lmboja__/croot/jupyterlab_widgets_1733441511710/work
kaggle==1.7.4.5
kaleido @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0029p_kvok/croot/python-kaleido_1689925318259/work
keras==3.9.0
keyring==25.6.0
kiwisolver==1.4.8
kombu==5.4.2
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.69
langchain-text-splitters==0.3.8
langcodes==3.5.0
langdetect==1.0.9
langsmith==0.4.8
language_data==1.3.0
lap==0.5.12
lazy-object-proxy==1.10.0
lazy_loader==0.4
libarchive-c==5.1
libclang==18.1.1
libmambapy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8fxbc14zt9/croot/mamba-split_1734469521691/work/libmambapy
lightgbm==4.6.0
lime==0.2.0.1
linkify-it-py==2.0.3
litestar==2.15.1
litestar-htmx==0.4.1
llama_cpp_python==0.3.8
llvmlite==0.44.0
lmdb==1.6.2
locket @ file:///Users/cbousseau/work/recipes/ci_py311/locket_1677925419801/work
lxml==5.3.1
lz4==4.4.3
Mako==1.3.9
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins==0.4.2
mdurl==0.1.2
mediapipe==0.10.21
menuinst @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_66is8p984e/croot/menuinst_1738943433761/work
missingno==0.5.2
mistune @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5be80wp982/croot/mistune_1741123981908/work
ml_dtypes==0.5.1
mlflow==2.20.3
mlflow-skinny==2.20.3
more-itertools==10.6.0
moviepy==2.0.0
mpmath @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_17iu6a8a3m/croot/mpmath_1690848269369/work
msgpack==1.1.0
msgspec==0.19.0
multidict==6.1.0
multimethod==1.12
multipart==1.2.1
multipledispatch==1.0.0
multiprocess==0.70.16
munkres==1.1.4
murmurhash==1.0.12
mypy-extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_98zqpuwvro/croot/mypy_extensions_1695130957675/work
namex==0.0.8
narwhals==1.29.1
navigator-updater @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_14tu6qh1h_/croot/navigator-updater_1695210199291/work
nb_conda_kernels @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_52ow6zu_oz/croot/nb_conda_kernels_1730822309910/work
nbclassic==1.2.0
nbclient==0.10.2
nbconvert @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_e4p9a3fnm6/croot/nbconvert-meta_1741184656667/work
nbformat==5.10.4
ndindex==1.9.2
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
notebook @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_31hdyhgqpe/croot/notebook_1738159959345/work
notebook_shim==0.2.4
numba==0.61.0
numexpr==2.10.2
numpy==1.26.4
numpydoc==1.8.0
olefile==0.47
ollama==0.5.1
omegaconf==2.3.0
opencv-contrib-python==4.11.0.86
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opt_einsum==3.4.0
optree==0.14.1
optuna==4.2.1
orjson==3.10.15
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandas-profiling==3.2.0
pandocfilters==1.5.1
panel==1.6.1
param==2.2.0
parsel==1.10.0
parso==0.8.4
partd==1.4.2
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
pathspec==0.12.1
patsy==1.0.1
pdfminer.six==20240706
pdfquery==0.4.3
pep8==1.7.1
pexpect==4.9.0
phik==0.12.4
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==11.1.0
pinecone-client>=3.2.0,<4.0.0
langchain-pinecone>=0.0.21,<1.0.0
pinecone-plugin-assistant==1.7.0
pinecone-plugin-interface==0.0.7
pip-review==1.3.0
pipenv==2025.0.3
pkce @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_da285fiplp/croot/pkce_1690384839054/work
pkginfo==1.12.1.2
platformdirs==4.3.6
playwright==1.50.0
plotly==5.24.1
pluggy==1.5.0
ply==3.11
polyfactory==2.19.0
poyo @ file:///tmp/build/80754af9/poyo_1617751526755/work
preshed==3.0.9
proglog==0.1.10
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.3.0
Protego==0.4.0
protobuf==4.25.6
psutil==7.0.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval==0.2.3
puremagic==1.28
py-cpuinfo==9.0.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybboxes==0.1.6
pycodestyle==2.12.1
pycosat==0.6.6
pycparser==2.22
pycrdt==0.12.8
pycrdt-websocket==0.15.4
pyct @ file:///Users/cbousseau/work/recipes/ci_py311/pyct_1677933596803/work
pycurl==7.45.6
pydantic==2.11.7
pydantic-settings==2.8.1
pydantic_core==2.33.2
pydeck==0.9.1
PyDispatcher==2.0.7
pydocstyle @ file:///Users/cbousseau/work/recipes/ci_py311/pydocstyle_1677933616104/work
pydot==3.0.4
pyee==12.1.1
pyerfa==2.0.1.5
pyflakes==3.2.0
pygit2==1.17.0
PyGithub==2.6.1
Pygments==2.19.1
pygtrie==2.5.0
PyJWT @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_149gnl_sjw/croot/pyjwt_1736178894728/work
pylint==3.3.4
pylint-venv==3.0.4
pyls-spyder==0.4.0
PyNaCl==1.5.0
pyobjc-core==11.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-CoreServices==11.0
pyobjc-framework-FSEvents==11.0
pyodbc==5.2.0
pyOpenSSL==25.0.0
pyparsing==3.2.1
pypdf==5.8.0
PyPDF2==3.0.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.16
pyquery==2.0.1
pyrsistent==0.20.0
PySocks @ file:///Users/cbousseau/work/recipes/ci_py311/pysocks_1677906386870/work
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-iso639==2025.2.18
python-json-logger==3.3.0
python-lsp-black==2.0.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.12.2
python-magic==0.4.27
python-oxmsg==0.0.2
python-slugify==8.0.4
python-snappy==0.7.3
pytoolconfig==1.3.1
pytz==2025.1
pyuca==1.2
pyviz_comms==3.0.4
PyWavelets==1.8.0
PyYAML @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_faoex52hrr/croot/pyyaml_1728657970485/work
pyzmq==26.2.1
QDarkStyle==3.2.3
qstylizer==0.2.4
QtAwesome==1.3.1
qtconsole==5.6.1
QtPy==2.4.3
queuelib==1.7.0
RapidFuzz==3.13.0
readchar==4.2.1
referencing==0.36.2
regex==2024.11.6
requests @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ee45nsd33z/croot/requests_1730999134038/work
requests-file==2.1.0
requests-toolbelt @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3fee1fr2ex/croot/requests-toolbelt_1690874011813/work
responses==0.25.6
rfc3339-validator @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_76ae5cu30h/croot/rfc3339-validator_1683077051957/work
rfc3986-validator @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d0l5zd97kt/croot/rfc3986-validator_1683058998431/work
rich @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_034myiu7pr/croot/rich_1732638981241/work
rich-click==1.8.8
roboflow==1.1.54
roman==5.0
roman-numerals-py==3.1.0
rope==1.13.0
rpds-py==0.23.1
rsa==4.9
rtree==1.4.0
ruamel-yaml-conda @ file:///Users/cbousseau/work/recipes/ci_py311/ruamel_yaml_1677961911260/work
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
s3fs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f4asq78554/croot/s3fs_1737133729091/work
s3transfer==0.11.4
safetensors==0.5.3
sahi==0.11.22
scenedetect==0.6.5.2
scikit-image==0.25.2
scikit-learn==1.5.2
scipy==1.15.2
scmrepo==3.3.10
Scrapy==2.12.0
seaborn==0.13.2
semver==3.0.4
Send2Trash==1.8.3
sentence-transformers==5.0.0
sentencepiece==0.2.0
sentry-sdk==2.22.0
service-identity==24.2.0
shap==0.47.0
shapely==2.0.7
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.1
sip==6.10.0
six==1.17.0
sklearn-compat==0.1.3
slicer==0.0.8
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
sounddevice==0.5.1
soupsieve==2.6
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spyder==6.0.4
spyder-kernels==3.0.3
SQLAlchemy==2.0.38
sqlite-anyio==0.2.3
sqlparse==0.5.3
sqltrie==0.11.2
srsly==2.5.1
stack-data==0.6.3
starlette==0.46.2
statsmodels==0.14.4
stopit==1.1.2
streamlit==1.47.0
strongsort==0.1.2
superqt==0.7.1
sympy==1.13.1
tables==3.10.2
tabula-py==2.10.0
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tb-nightly==2.20.0a20250308
tblib==3.0.0
tenacity==9.0.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminado==0.18.1
terminaltables==3.1.10
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance==4.6.3
tf_keras==2.19.0
thinc==8.3.4
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile==2025.2.18
tiktoken==0.9.0
tinycss2==1.4.0
tldextract==5.1.3
tokenizers==0.21.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.2.1
tomlkit==0.13.2
toolz==1.0.0
torch==2.6.0
torchaudio==2.6.0
torchreid @ git+https://github.com/KaiyangZhou/deep-person-reid.git@566a56a2cb255f59ba75aa817032621784df546a
torchvision==0.21.0
tornado==6.4.2
TPOT==1.0.0
tqdm==4.67.1
traitlets==5.14.3
transformers==4.49.0
truststore==0.10.1
Twisted==24.11.0
typeguard==4.4.2
typer==0.12.3
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_0b3jpv_f79/croot/typing_extensions_1734714864260/work
tzdata==2025.1
tzlocal==5.3.1
uc-micro-py==1.0.3
ujson==5.10.0
ultralytics==8.3.85
ultralytics-thop==2.0.14
Unidecode==1.3.8
unstructured==0.18.9
unstructured-client==0.39.1
update-checker==0.18.0
uri-template==1.3.0
urllib3==2.3.0
uuid6==2024.7.10
uvicorn==0.34.0
uvloop==0.21.0
vine==5.1.0
virtualenv==20.31.2
visions==0.8.1
voluptuous==0.15.2
w3lib==2.3.1
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d37u7gqts8/croot/websocket-client_1715878310260/work
websockets==15.0.1
Werkzeug==3.1.3
whatthepatch==1.0.7
widgetsnbextension==4.0.13
wordcloud==1.9.4
wrapt==1.17.2
wurlitzer==3.1.1
xarray==2025.1.2
xgboost==3.0.0
xlwings==0.33.10
xxhash==3.5.0
xyzservices==2025.1.0
y-py==0.6.2
yacs==0.1.8
yapf==0.43.0
yarl==1.18.3
ydata-profiling==4.14.0
yolov5==7.0.14
ypy-websocket==0.12.4
zc.lockfile==3.0.post1
zict==3.0.0
zipp==3.21.0
zope.interface==7.2
zstandard==0.23.0
